<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132754506953-qqsngn891hggb9kfkuql25lvf8v7mc6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132754506953-qqsngn891hggb9kfkuql25lvf8v7mc6h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>132754506953-ob98nv6mh6rc0ktj29i8hrgtop88h2cs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBNTeZTL3U9uyFuZvtmsDJlHCQdYLgrGek</string>
	<key>GCM_SENDER_ID</key>
	<string>132754506953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ITG.WiseTooth</string>
	<key>PROJECT_ID</key>
	<string>wisetooth-298912</string>
	<key>STORAGE_BUCKET</key>
	<string>wisetooth-298912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132754506953:ios:7fbc68dd12541ae9b1f918</string>
</dict>
</plist>